@use 'variables' as *;
@use 'mixins' as *;
@use 'placeholders' as *;


.featured-section {
    margin-top: $seasonal-margin-top;
    padding: 0 $side-padding;
    overflow: hidden;
    
    &-header {
        
        h3 {
            margin: 0;
            font-family: $font-family;
            font-size: $h3-font-size;
            font-weight: $h3-font-weight;
            padding-right: 29px; 
            color: $h2-font-color;
            
            @include mq ($large) { 
                font-size: calc($h3-font-size * 1.75); 
            }
        }
        
        a {
            display: inline-block;
            text-decoration: none;
            color: $font-color;
            padding-bottom: $link-underlined-padding;
            font-size: $seasonal-link-font-size;
            border-bottom: $link-underlined-weight solid $font-color;
            margin-top: $seasonal-body-margin;
            
            @include mq ($large){
                font-size: calc($seasonal-link-font-size * 1.25);
                margin-top: 0;
            }
        }

        @include mq ($medium) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 10px;
        }
        
    }

    @include mq ($medium){
        padding: 0 calc($side-padding * 2);
    }


    @include mq ($large){
        padding: 0 calc($side-padding * 2.67);
    }
}

.grid-container {
    display: grid;
    gap: $seasonal-card-gap;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - $seasonal-card-gap)/2);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: $seasonal-paragraph-margin;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar { display: none; }

    
    &-item {
        display: flex;
        text-decoration: none;
        border: solid 1px $border;
        border-radius: $card-radius;
        overflow: hidden; 
        scroll-snap-align: start;
        width: 100%;
        
        article {
            width: 100%;
            display: flex;
            flex-direction: column;
            
            .image-wrapper {
                width: 100%;
                aspect-ratio: 4 / 3;
                overflow: hidden; 
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.6s ease-out;
                }
            }
            
            h3 {
                margin: 0 auto;
                padding: 9px 9px 12px 9px; 
                text-align: center;
                color: $font-color;
                font-size: $h3-card-font-size;
                font-weight: $h3-card-font-weight;
                display: inline-block; 

                width: fit-content;    
                position: relative;
                @extend %hover-underline;
                
                @include mq ($medium) {
                    font-size: calc($h3-card-font-size * 1.0714);
                }
                
                @include mq ($large) {
                    font-size: calc($h3-card-font-size * 1.1428);
                }
            }
            
            &:hover {
                .image-wrapper img {
                    transform: scale(1.1) translateZ(0);
                }
                h3 {
                    background-size: 100% 1px;
                }
            }
        }
    }

    @include mq ($medium) {
        grid-auto-columns: calc($seasonal-carousel-width * 2);
    }

    @include mq ($large){
        grid-auto-columns: calc($seasonal-carousel-width * 2.5);
    }

    @include mq (475px) {
        grid-auto-columns: calc((100% - $seasonal-card-gap)/3);
        .slider-navigation-container {
            display: none;
        }
    }

}

.featured-section .slider-navigation-container {
    @include mq(475px) {
        display: none ; 
    }
}

