@use 'variables' as *;


.footer {

    &__inner{
    border-top: 1px solid $footer-border;
    border-bottom: 1px solid $footer-border;
    margin-top: $footer-margin-top;
    padding: $footer-padding-top $footer-padding-sides;
    display: grid;
    grid-gap: $footer-grid-gap;
    }

    &__title{
        font-size: $h2-footer-font-size;
        margin-bottom: $footer-text-margin;
    }

    &__tagline{
        margin-top: 0;
        margin-bottom: $footer-text-margin;
        font-size: $h2-footer-text-font-size;
    }
    
    &__social-link{
        color: $footer-svg-color;
    }

    &__form{
        border: $border-weight solid rgba(29, 29, 29, 0.3);
        border-radius: $footer-form-border-radius;
        padding: $footer-form-padding;
        display: flex; 
        align-items: center;
    }

    &__input{
        border: none;
        outline: none;
    }

    &__submit{
        border: none;  
        background: none;       
        cursor: pointer;
        svg{
            stroke: $footer-svg-color;
        }
    }

    &__list{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            margin-bottom: 5px;
        }
        a{

            text-decoration: none;
            display: inline-block;
            color: $font-color;
            font-size: $h2-footer-text-font-size;
            border-bottom: $border-weight solid $font-color;
            
        }
    }

    &__bottom{
        padding: $footer-padding-sides;
        margin: 0;

        p{
            margin: 0;
            font-size: $h2-footer-text-font-size;
            font-weight:$h2-footer-text-font-weight;
        }

        a{
            color: $font-color;
        }
}
}




