@use 'variables' as *;
@use 'mixins' as *;
@use 'placeholders' as *;



.goals{
    overflow: hidden;
    width: 100%;
    display: grid;
    gap: $seasonal-carousel-gap;
    grid-auto-flow: column;
    grid-auto-columns: calc((100vw - $seasonal-carousel-gap) / 2);
    @extend %section-side-padding;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: $seasonal-margin-top 0;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar { display: none; }

    @include mq($large){
        grid-auto-columns: calc((100vw - $seasonal-carousel-gap) / 3);
    }
    @include mq(92em){
        grid-auto-columns: calc((100vw - $seasonal-carousel-gap) / 4);
    }

}
@include mq(92em){
    .goals-navigation-container {
        display: none;
    }
}

.goals figure{
    scroll-snap-align: start;
    margin: 0;
    overflow: hidden;
}
.goals figcaption{
    padding: 20px;
    font-size: 19px;
    font-weight: $h3-font-weight;
    text-align: center;
    @include mq($medium){
        font-size: $h3-font-size;
    }
    @include mq($large){
        font-size: $h3-font-size;
    }
}

.goals figure img{
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    @include mq($medium){
        width: 80px;
        height: 80px;
    }
    @include mq($large){
        width: 80px;
        height: 80px;
    }
}

