@use 'variables' as *;
@use 'mixins' as *;
@use 'placeholders' as *;


.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: min-content;
}

.site-header {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: $header-column auto $header-column;
    row-gap: $header-row-gap;
    margin: $header-grid-margin 0 0;
    position: relative;
    min-width: 100%;
    max-width: 125%;
    z-index: 1;

    @include mq($medium) {
        grid-template-columns: calc($header-column * 1.444) auto calc($header-column * 1.444);
        row-gap: calc($header-row-gap * 1.333);
        margin: calc($header-grid-margin * 1.333) 0 0;
    }

    @include mq($large) {
        grid-template-rows: 50px 75px;
        grid-template-columns: repeat(3, 146.667px) minmax(160px, auto) minmax(140px, auto) minmax(170px, auto);
        min-width: 100%;
        column-gap: 0;
        row-gap: calc($header-row-gap * 2);
        margin: calc($header-grid-margin * 2) 0 0;
        padding: 0;
        align-items: center;
    }
}

.header-announcements {
    background-color: $announcement-color;
    width: 100%;
}

.announcements-wrapper {
    color: $black-btn-font-color;
    margin: 0 $announcement-side-margin;
    line-height: 1.1;
    display: flex;
    align-items: center;
    justify-self: center;
    width: $announcement-width;

    @include mq($medium) {
        width: calc($announcement-width * 1.123);
    }

    @include mq($large) {
        width: calc($announcement-width * 1.497);
    }
}

.header-announcements p {
    padding: $announcement-text-padding-horizontal $announcement-text-padding-vertical;
    text-align: center;
    display: flex;
    font-weight: $announcement-font-weight;
    margin: 0;
}

.btn-announcement {
    border: 0;
    background-color: transparent;
    color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-announcement svg {
    stroke: $black-btn-font-color;
    border-width: 0;
    fill: none;
    opacity: 0.36;
}

.site-navigation {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    width: $action-button-size;
    height: $action-button-size;

    @include mq($medium) {
        padding: 0 0 0 calc($header-padding-vertical * 2);
    }

    @include mq($large) {
        grid-area: 2 / 1 / 3 / 4;
        padding: 0;
        width: 100%;
        height: 100%;
        border-top: $border-weight $border solid;
        align-items: center;
    }
}

.header-logo {
    grid-area: 1 / 2 / 2 / 3;
    padding: 0 $header-logo-padding;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq($medium) {
        padding: 0 calc($header-logo-padding * 1);
    }

    @include mq($large) {
        grid-area: 1 / 1 / 2 / 4;
        justify-content: flex-start;
        padding: 0 0 0 calc($header-padding-vertical * 2.667); 
        height: calc($header-logo-height * 2.25);
    }
}

.header-logo img {
    max-height: $header-logo-height;

    @include mq($medium) {
        max-height: calc($header-logo-height * 1.8);
    }
}

.action-search {
    display: grid;
    grid-template-areas: "a b";
    grid-template-rows: $header-search-height;
    grid-template-columns: $header-icon-small auto;
    align-items: center;
    justify-content: start;
    align-content: center;
    justify-items: start;
    padding: $header-search-padding-horizontal $header-search-padding-vertical;
    grid-area: 2 / 1 / 3 / 4;
    border-radius: $button-radius;
    margin: 0 $header-padding-vertical;
    column-gap: $header-icon-margin-right;
    min-width: 0;
    height: $header-search-height;
    position: relative;
    background-color: $background-color;
    box-shadow: 0 0 0 transparent;
    border: $border $border-weight solid;
    transition: background-color .2s ease,
                box-shadow .2s ease,
                border .2s ease;
    
    @include mq($medium) {
        margin: 0 calc($header-padding-vertical * 2);
    }

    @include mq($large) {
        grid-area: 1 / 4 / 2 / 5;
        height: calc($header-logo-height * 2.25);
        width: auto;
        margin: calc($header-padding-horizontal * 2) 0 0;
        font-size: calc($body-font-size * 1.143);
        line-height: $mobile-heading-line-height;
        margin: 0 $buttons-grid-gap 0 0;
        justify-self: center;
    }
}

.action-search:focus-within {
    background-color: $search-input-overlay;
    box-shadow: 0 18px 40px $search-input-box-shadow;
    border: $border-weight solid $search-input-border;
}

.action-search svg {
    grid-area: a;
}

.search-form {
    grid-area: b;
    width: 100%;
    min-width: 0;
    display: flex;
    align-items: center;
}

#site-search {
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    max-width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

#site-search:focus {
    outline: none;
}

.search-submit {
    position: absolute;
    display: flex;
    align-items: center;
    top: $header-search-height;
    left: -$side-padding;
    right: 0;
    justify-self: center;
    vertical-align: baseline;
    min-width: 100%;
    max-width: 100%;
    margin: $search-submit-margin-top $side-padding 0;
    padding: $search-submit-padding-horizontal $search-submit-padding-vertical;
    border: 0;
    box-shadow: 0 18px 40px $search-input-box-shadow;
    background-color: $background-color;
    border-radius: $card-radius;
}

.search-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $black-btn-color;
    color: $black-btn-font-color;
    border: $black-btn-color solid $border-weight;
    border-radius: $button-radius;
    font-size: $search-font-size;
    font-weight: $search-font-weight;
    line-height: $search-font-height;
    padding: $search-button-padding-horizontal $search-button-padding-vertical;
}

.action-account {
    display: none;

    @include mq($large) {
        display: flex;
        grid-area: 1 / 5 / 2 / 6;
        width: auto;
        align-items: center;
        justify-content: center;
        margin: 0 $buttons-grid-gap 0 0;
        height: calc($header-logo-height * 2.25);
        justify-self: center;
    }
}

.action-account button {
    @include mq($large) {
        display: grid;
        grid-template-columns: 1fr auto;
        border-radius: $button-radius;
        border: $border-weight solid $black-btn-color;
        height: 100%;
        background-color: $background-color;
        color: $font-color;
        padding: $header-padding-delivery-horizontal $search-submit-padding-horizontal $header-padding-delivery-horizontal $header-search-padding-vertical;
        gap: $header-search-padding-horizontal;
        font-size: calc($body-font-size * 1.143);
        line-height: $body-font-height;
        font-weight: $body-font-bold;
        align-items: center;
        align-content: center;
    }
}

.action-account svg path {
    @include mq($large) {
        stroke-width: 2;
    }
}

.action-account p {
    @include mq($large) {
        margin: 0;
        height: 30px;
        display: flex;
        align-items: center;
    }
}

.action-cart {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    padding: 0 $header-padding-vertical 0 0;
    fill: $font-color;
    grid-area: 1 / 3 / 2 / 4;

    @include mq($medium) {
        padding: 0 calc($header-padding-vertical * 2) 0 0;
    }

    @include mq($large) {
        grid-area: 1 / 6 / 2 / 7;
        font-size: calc($body-font-size * 1.143);
        line-height: $mobile-heading-line-height;
        padding: 0 calc($header-padding-vertical * 2.667) 0 0; 
        width: auto;
        margin: 0 $buttons-grid-gap 0 0;
        height: min-content;
        position: relative;
        justify-self: center;
    }
}

.action-cart button {
    background-color: transparent;
    border: 0;
    color: $font-color;
    padding: 0;
    width: $action-button-size;
    height: $action-button-size;

    @include mq($large) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $header-icon-margin-box;
        width: fit-content;
        border-radius: $button-radius;
        background-color: $black-btn-color;
        color: $black-btn-font-color;
        border: 0;
        height: calc($header-search-height * 1.143);
        padding: 0 $search-submit-padding-vertical 0 $header-padding-vertical;
    }
}

.action-cart-total {
    display: none;

    @include mq($large) {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        font-size: calc($body-font-size * 1.143);
        line-height: $mobile-heading-line-height;
        font-weight: $body-font-bold;
    }
} 

.action-cart-icon {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 1;
    color: $font-color;

    @include mq($medium) {
        right: 37px;
    }

    @include mq($large) {
        color: $black-btn-font-color;
        position: inherit;
        stroke-width: 2;
    }
}

.action-cart-counter {
    position: absolute;
    z-index: 200;
    right: 18px;
    top: 2px;
    color: $font-color;

    @include mq($medium) {
        right: 30px;
        top: 3px;
    }

    @include mq($large) {
        display: none;
    }
}

.action-cart-counter-back {
    color: $black-btn-font-color;
    position: absolute;
    right: 18px;
    top: 2px;
    z-index: 100;

    @include mq($medium) {
        right: 30px;
        top: 3px;
    }

    @include mq($large) {
        display: none;
    }
}

.header-shipping {
    grid-area: 3 / 1 / 4 / 4;
    color: $font-color;
    display: flex;
    align-items: center;
    font-weight: $body-font-bold;
    padding: $header-padding-delivery-horizontal $header-padding-delivery-vertical 0;
    margin-bottom: $header-padding-delivery-horizontal;
    width: 100%;
    border-top: $border-weight $border solid;

    @include mq($medium) {
        padding: calc($header-padding-delivery-horizontal * 1.33) calc($header-padding-delivery-vertical * 2) 0;
        margin-bottom: calc($header-padding-delivery-horizontal * 1.333);
    }

    @include mq($large) {
        grid-area: 2 / 4 / 3 / 7;
        padding: 0;
        width: 100%;
        height: 100%;
        border-top: $border-weight $border solid;
        align-items: center;
        margin: 0;
        justify-content: flex-end;
    }
}

.header-shipping a {
    text-decoration: $plain-link;
    color: $font-color;
    padding-right: $delivery-padding-right;
    display: grid;
    grid: "a b" 1fr / 28px auto;
    align-items: center;
    column-gap: $delivery-margin-right;
    margin: $delivery-margin-box;
}

.header-shipping svg {
    display: block;
    width: 28px !important;
    height: 28px !important;
    grid-area: a;
}

.header-shipping svg g {
    @include mq($large) {
        stroke-width: 1.5;
    }
}

.header-shipping p {
    grid-area: b;
    margin: $delivery-text-margin-top 0 0;
    padding-bottom: $delivery-text-padding-bottom;
}

.menu-items {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid:
        "a" min-content
        "b" 1fr
        "c" min-content / 1fr;
    align-content: space-between;
    padding: 0;
    margin: 0;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    will-change: transform;
    z-index: 500;
    background-color: $background-color;
    color: $font-color;

    @include mq($large) {
        position: relative;
        height: min-content;
        width: 100%;
        transform: translateX(0);
        transition: none;
        will-change: unset;
        background-color: transparent;
    }
}

.site-navigation.toggled .menu-items {
    transform: translateX(0);
    z-index: 500;
}

.mobile-header {
    grid-area: a;
    padding: $mobile-header-padding-top $mobile-header-padding-vertical $mobile-header-padding-bottom;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $border-weight $border solid;

    @include mq($large) {
        display: none;
    }
}

.mobile-header h2 {
    margin: 0;
    font-size: $mobile-heading-font-size;
    font-weight: $mobile-heading-font-weight;
    line-height: $mobile-heading-line-height;
}

.mobile-header button {
    padding: 0;
}

#mobile-menu-close {
    width: $action-button-size;
    height: $action-button-size;
}

.menu-list-cell {
    grid-area: b;
    display: flex;
    border-bottom: $border-weight $border solid;

    @include mq($large) {
        border-bottom: 0;
        height: min-content;
        padding: 0 0 0 calc($header-padding-vertical * 2.667);
    }
}

.menu-list-section {
    padding: 0;
    padding-inline: 0;
    list-style: $plain-link;
    width: 100%;

    @include mq($large) {
        display: flex;
        height: min-content;
        align-items: center;
    }
}

.submenu-list,
.menu-list {
    padding: $mobile-list-padding-horizontal $mobile-list-padding-vertical;
    border-bottom: $border-weight $border solid;
    display: flex;
    height: min-content;
    width: 100%;

    @include mq($large) {
        border-bottom: 0;
    }
}

.submenu-list {
    @include mq($large) {
        width: 60%;
        padding: $mobile-list-padding-horizontal calc($mobile-list-padding-vertical * 2);
    }
}

.submenu-list p,
.menu-list p {
    margin: 0;
}

.icon-account {
    @include mq($large) {
        display: none;
    }
}

.icon-account svg {
    width: $header-icon-small;
    height: $header-icon-small;
    display: block;
    margin-right: $header-icon-margin-right;
}


.mobile-submenu li:first-of-type {
    background-color: $submenu-header-background;

    @include mq($large) {
        display: none;
    }
}

#submenu-close {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    height: min-content;
    width: 100%;
    justify-items: start;
    grid-gap: $header-icon-margin-right;
    padding: 0;
}

.header-submenu {
    display: flex;
    height: min-content;
    border-bottom: $border-weight $border solid;
    position: relative;

    @include mq($large) {
        border-bottom: 0;
    }
}

.menu-items a {
    text-decoration: $plain-link;
    color: $font-color;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-items p,
.menu-items a {
    font-size: $mobile-list-font-size;
    font-weight: $mobile-list-font-weight;
    line-height: $mobile-list-line-height;

    @include mq($large) {
        font-weight: $body-font-bold;
    }
}

.menu-items button {
    background-color: transparent;
    border: 0;
    color: $black-btn-color;
}

.menu-toggle {
    background-color: transparent;
    border: 0;
    padding: 0;
    fill: $font-color;
    height: $action-button-size;
    width: $action-button-size;

    @include mq($large) {
        display: none;
    }
}


.submenu-toggle {
    width: 100%;
    padding: $mobile-list-padding-horizontal $mobile-list-padding-vertical;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: $header-icon-margin-box;
    height: min-content;
}

.submenu-toggle p {
    margin: 0;
}

.submenu-mobile {
    display: block;

    @include mq($large) {
        display: none;
    }
}

.submenu-desktop {
    display: none;

    @include mq($large) {
        display: block;
        height: min-content;
        width: auto;
        align-content: center;
    }
}

.mobile-submenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100vw;
    min-height: 200px;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-color;
    z-index: 999;
    transform: translateX(-100vw);
    transition: transform .3s ease-in-out;
    pointer-events: none;

    @include mq($large) {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        width: auto;
        padding: 0;
        border: 0;
        background-color: $background-color;
        z-index: 999;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: max-height .5s ease, opacity .4s ease;
    }
}

.submenu-toggle.toggled ~ .mobile-submenu {
    transform: translateX(0);
    height: fit-content;
    pointer-events: auto;
    z-index: 999;

    @include mq($large) {
        max-height: 640px;
        opacity: 1;
        pointer-events: auto;
        padding: $mobile-list-padding-horizontal 0;
        top: 130%;
    }
}

.mobile-footer {
    grid-area: c;
    padding: $mobile-footer-padding;
    box-shadow: 0 0 60px $box-shadow;

    @include mq($large) {
        display: none;
    }
}

.mobile-footer a {
    width: $header-icon-base;
    height: $header-icon-base;
    margin: $header-icon-margin-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-footer svg {
    width: $header-icon-base;
    height: $header-icon-base;
}