@use 'variables' as *;


// Media Query Mixin
@mixin mq($w){
    @media (min-width: $w){
        @content;
    }
}

@mixin footer-responsive-font($base-size) {
    font-size: $base-size;
    @include mq($medium) { font-size: $base-size * $scale-medium; }
    @include mq($large) { font-size: $base-size * $scale-large; }
}