@use 'variables' as *;
@use 'mixins' as *;

%hover-underline {
    background-image: linear-gradient($font-color, $font-color);
    background-repeat: no-repeat;
    background-position: left bottom 8px;
    background-size: 0% 1px;             
    transition: background-size 0.3s ease; 
}

%section-side-padding{
    padding: 0 $side-padding;

    @include mq($medium){
        padding: 0 calc($side-padding * 2);
    }

    @include mq($large){
        padding: 0 calc($side-padding * 2.667);
    }
}

%slider-styles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: $seasonal-carousel-controls-top;
    margin-bottom: $seasonal-carousel-controls-botton;
    height: 40px;

    .slider-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;   
        border: none;        
        padding: 0;          
        cursor: pointer;     

        &:disabled {
            opacity: 0.3;   
            cursor: not-allowed;
        }
    }
}
