@use 'variables' as *;
@use 'mixins' as *;

%hover-underline {
    background-image: linear-gradient($font-color, $font-color);
    background-repeat: no-repeat;
    background-position: left bottom 8px;
    background-size: 0% 1px;             
    transition: background-size 0.3s ease; 
}