@use 'variables' as *;
@use 'mixins' as *;
@use 'placeholders' as *;


.favorites{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    margin-top: $seasonal-margin-top;
    @extend %section-side-padding;

}
.favorites-heading{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    
    
}

.favorites img{
    width: 300px;
    aspect-ratio: 0.83333;
    object-fit: cover;
    @include mq(22em){
        width:calc(100vw - 200px);
    }
    @include mq($medium){
        width:calc((100vw - 50px) / 2);
    }
    @include mq($large){
        width:calc((100vw - 100px) / 3);
    }
    @include mq(80em){
        width:calc((100vw - 120px) / 4);
    }    
}