@use 'variables' as *;
@use 'mixins' as *;
@use 'placeholders' as *;


.favorites{
    margin-top: $seasonal-margin-top;
    margin-bottom: $seasonal-heading-margin;
    @extend %section-side-padding;

}

.seasonal-grid{
    display: grid;
    padding:0;
    width: 100%;
    grid-template-columns: auto;
    gap: $seasonal-card-gap;
    margin-top: $seasonal-margin-top;
    margin-bottom: $seasonal-heading-margin;
    @extend %section-side-padding;
    @include mq(39.125em){
        grid-template-columns: repeat(2,$seasonal-card-width);
    }
    @include mq($medium){
        grid-template-columns: repeat(2,calc((100vw - 50px) / 2));
    }
    @include mq($large){
        grid-template-columns:repeat(3,calc((100vw - 100px) / 3));
    }
    @include mq(80em){
        grid-template-columns: repeat(4, calc((100vw - 120px) / 4));
    }   
}


.favorites h3{
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    @include mq ($large) { 
        font-size: calc($h3-font-size * 1.75); 
    }
}
.favorites p{
    display: inline-block;
    padding-right: 29px; 
    font-size: $h3-font-size;
    @include mq($large){
        padding-right: 94px;
    }
    @include mq($medium){
        padding-right: 70px;
    }
}

.favorites-summary{
    @include mq($large){
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.favorites-summary a{
    display: inline-block;
    text-decoration: none;
    color: $font-color;
    padding-bottom: $link-underlined-padding;
    font-size: $seasonal-link-font-size;
    border-bottom: $link-underlined-weight solid $font-color;
    margin-top: $seasonal-body-margin;
    
    @include mq ($large){
        font-size: calc($seasonal-link-font-size * 1.25);
        margin-top: 0;
    }
}


.favorites article{
    text-decoration: none;
    border: solid 1px $border;
    border-radius: $card-radius;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.favorites article a{
    font-size: $h3-font-size;
    font-weight: $h3-card-font-weight;
    text-decoration: none;
    color: $font-color;
}

.fav-cart{
    width: 80%;
    text-align: center;
    margin-bottom: $seasonal-padding-vertical;
    border: solid 1px $border;
    border-radius: $button-radius;
    padding: $seasonal-button-padding-horizontal $seasonal-button-padding-vertical ;
    @include mq($medium){
        padding: $seasonal-button-padding-horizontal calc($seasonal-button-padding-vertical * 1.25) ;
    }
    @include mq($large){
        padding: calc($seasonal-button-padding-horizontal * 1.25) calc($seasonal-button-padding-vertical * 1.4375) ;
    }
    &:hover{
        background-color: $black-btn-color;
        color: $black-btn-font-color;
    }

}

.favorites img{
    width: 100%;
    aspect-ratio: 0.83333;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.6s ease-out;
    &:hover {
        transform: scale(1.1) translateZ(0);
    } 
}
.fav-wrapper{
    overflow: hidden;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
}

.fav-product{
    height: 84.99px;
    h4, p{
        width: fit-content;
        background-image: linear-gradient($font-color, $font-color);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 0% 1px;             
        transition: background-size 0.3s ease; 
        padding-right: 0;
    }
    &:hover{
        h4, p{
            position: relative;
            background-size: 100% 1px;
        }
    }
}

.fav-product h4, .fav-cart a{
    font-size: $h3-font-size;
}

.fav-product h4, .favorites article p, .fav-cart{
    margin-left: 10%;
}


.favorites article p{
    margin-top: $seasonal-padding-vertical;
}
