//Font


//Colors
$announcement-color:#3c863b;
$section-1:#fbb500;
$section-2:#f1eadd;
$section-3:#ffaaca;
$btn-color:#1d1d1d;

//Text Colors
$font-color:#1d1d1d;




//Media Query Breakpoints
$tablet-landscape:63.875em;
$tablet-portrait: 47.875em;
$phone-portrait:29.688em;


